* {
    
    font-size: 20px !important;
}




.navmenu {
    position: relative;
    height: 8vh;
    overflow: hidden;
    
}



.logo a {
    font-family: 'Philosopher', sans-serif;
    text-decoration: none;
    font-size: 35px !important;
    color: #eab192;
    
}

.media li {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #eab192;
    line-height: 0.75em;
    border-radius: 10px;
    margin: 25px 25px 0px 0px;
}

.media li svg {
    fill: #3ba5e7;
}

ul.navbar-nav.ms-auto li:last-child a {
    padding-right: 0px !important;
    
}

.navmenu li.nav-item {
    font-weight: 600;
    padding-left: 40px;
}

.active {
    color: #3ba5e7 !important;
}

}
.media a {
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 10px !important;
    display: inline-block;
    border: 1px solid #eab192;
    border-radius: 15px;
}


/* Gradient transparent - color - transparent */

hr.style-two {
    border: 0;
    height: 1px;
    margin: 0px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.slider {
    position: relative;
    overflow: hidden;
}


.fs-right {

    width: auto;
    position: relative;
    height: 100%;
}



.fs-left, .sd-left {
    position: relative;
    height: 92vh;
    overflow: hidden;
}
.textInfo {
    margin: 0;
    position: absolute;
    top: 47.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

p.tagline {
    margin: 0px;
    color: #eab192;
    font-size: 17px !important;
    width: 85%;
}

.textInfo span {
    display: block;
}

span.fullName {
    font-size: 60px !important;
    color: #3ba5e7;
    font-family: 'Philosopher', sans-serif;
}

span.hello {
    font-size: 30px !important;
    font-weight: 600;
    line-height: 30px;
    height: 0.75em;
    color: black !important;
}

img.fs-right-first {
    position: absolute;
    bottom: -30px;
    width: 70vh !important;
    right: 0px;
}

img.fs-right-second {
    width: 650px !important;
    height: 650px;
    position: absolute;
    left: -40px;
    top: 45px;
}


.bioInfo {
    margin: 0;
    position: absolute;
    top: 49%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

span.bioTtile {
    font-weight: 700;
    font-size: 30px !important;
    line-height: 0.9em;
    display: block;
    font-family: 'Philosopher', sans-serif;
}



p.bioText {
    color: black;
    margin: 25px 0px 0px 0px;
    font-weight: 300;
    line-height: 1.75em;
    padding-right: 85px;
    
}

.sd-right {
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

img.sd-right-first {
    position: fixed;
    bottom: -7px;
    right: 0px;
    width: 125vh!important;
    height: 100%;
}

.sliderPitch, .videoPitch {
    
    margin: 0;
    position: absolute;
    top: 47.5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   
}

.trd-left, .trd-right {
    
    text-align: center;
    position: relative;
    height: 92vh;
}




.sliderPitch img, .videoPitch img {
    width: 100%;
    height: 100%;
    border: 15px solid #eab192;
    border-radius: 20px;
    margin-bottom: 25px;
}

.slideBtn, .videoBtn {
    border: none;
    background: #009dff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0px auto !important;
    text-decoration: none;
}

  .elevator {
    width: 100%; /* Adjust this if needed */
    height: 92vh;
    position: relative;
    overflow: hidden;
  }



.vid-wrapper {
    width: 64%;
    height: 75vh;
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    right: 0%;
    top: 48%;
    transform: translate(-0%, -50%);
    border: 5px solid #eab192;
}



.elevator video {
    height: 75vh;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
}



#slide3 {
    background: url(../images/2747778_8430.jpg) center center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}


.elevatorText span {
    font-size: 35px !important;
    font-weight: 700;
    margin-bottom: 18px !important;
    display: block;
    font-family: 'Philosopher', sans-serif;
}


.elevatorText {
    position: absolute;
    top: 47%;
    overflow: hidden;
    width: 100%;
    transform: translateY(-50%);
}

.leftelevator {
    position: relative;
    height: 92vh;
    width: 100%;
    overflow: hidden;
}

.elevatorText p {
    color: black;
}


@media (min-width: 768px) and (max-width: 1500px) {
    
    img.sd-right-first {
    position: fixed;
    bottom: -7px !important;
    right: 0px;
    width: 110vh !important;
    height: 630px;
}
    
    p.bioText {
    color: black;
    margin: 25px 0px 0px 0px;
    font-weight: 300;
    line-height: 1.45em;
    padding-right: 0px !important;
    width: 60vh;
    
}
    
    
}